name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./core
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Setup Resources and Template
      run: |
        MKDOCS_ENV=deploy make setup
    - name: Install and Build
      run: |
        make build && make build MKDOCS_LANG=en
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        publish_dir: ./core/site
        external_repository: openecos-projects/openecos-projects.github.io
        publish_branch: main
        cname: openecos.com
